
/* #### SASS IMPORT ####*/

@import "sass/fonts.scss";
@import "sass/normalize.scss";
@import "sass/foundation.scss";
//@import "sass/animate.scss";




/* #### VARIABLES ####*/

$tell-green: #14a449;
$border-gray: #f0f0f0;



/* #### GLOBAL ####*/


body {
  background-color: white;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  margin-top: 40px;
}

.border-bottom {
  padding-bottom: 50px;
  border-bottom: 1px solid $border-gray;
}


p {
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5 {
  color: black;
  letter-spacing: 1.6px;
}


h3 {
  font-size: 23px;
}

.page-wrap {
  max-width: 810px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}


/* #### PRODUCT ####*/


.product-container {
  padding: 20px 30px;
  text-align: center;
  border-right: solid 1px $border-gray;
  
  
     a { 
       color: $tell-green;
     }
  
  
     img {
       margin-bottom: 20px;
       margin-top: 15px;
     }
  
      img:hover {
       opacity: 0.8;
       transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out; 
     }
  
      &:hover {
       background-image: linear-gradient(rgb(255, 255, 255) 30%, rgb(251, 251, 251) 100%);
    }
}

  

strong {
  font-weight: 600;
  color: black;
}



p:nth-child(2) {
  color: #A1A1A1;
  line-height: 1.6em;
}


/* #### KNAPP ####*/

.knapp {
  border: 1px solid $tell-green;
  border-radius: 40px;
  padding: 6px 25px; 
  font-size: 14px;
  background: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease; 
  
    &:hover {
      background-color: $tell-green;
      color: white;
    }
}


.row {
  margin-bottom: 2.5em;
}


/* #### HERO ####*/

#hero, #bunn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;
  
  
    h2 { 
      color: $tell-green;
    }

    ul {
      list-style: none;
      margin: auto;
      display: flex;
      justify-content: space-around;
      max-width: 450px;

    }

    li a {
      color: $tell-green;

    }
  
}


/* #### Footer ####*/






/* #### SMALL LAYOUT ####*/
@media screen and (max-width:641px) {
  
  h2 {
  text-align: center;
  font-size: 2.2em;
  
  }
  
}

